.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 1.5rem;
  color: #333;
}

.navbar svg {
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}
