/* Estilo base */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFEFEF; /* Un tono suave de rosa */
}

/* Contenedor principal */
.sessions-container, .profile-container {
    width: 90%;
    margin: 2rem auto; /* Centrado automático */
    padding: 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    display: flex; /* Asegurarse de que los hijos puedan centrarse correctamente */
    flex-direction: column; /* Alinear hijos verticalmente */
    align-items: center; /* Centrar hijos horizontalmente */
}

/* Tarjeta de perfil */
.profile-card {
    background-color: #D9B59E;
    padding: 20px;
    border-radius: 10px;
    display: flex; /* Flex para organizar internamente */
    flex-direction: column;
    align-items: center; /* Centrar contenido horizontalmente */
    width: 300px; /* Anchura fija para consistencia */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio debajo de la tarjeta */
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5C3D2E;
    margin-bottom: 20px; /* Espacio entre imagen y texto */
}

h2, p {
    color: #5C3D2E; /* Unificar color de texto para h2 y p */
    text-align: center; /* Alineación de texto para ajustar con el diseño centrado */
}

.button-group {
    width: 100%; /* Aprovechar todo el ancho disponible */
    display: flex;
    justify-content: space-around; /* Espaciado equitativo alrededor de los botones */
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en pantallas pequeñas */
}

.button-group button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px; /* Margen para asegurar espacio alrededor de botones */
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .sessions-container, .profile-container {
        width: 100%; /* Utilizar todo el ancho en dispositivos móviles */
        margin: 0; /* Eliminar margen para utilizar el espacio completamente */
        padding: 1rem; /* Padding reducido para pequeños dispositivos */
    }

    .profile-card {
        width: 90%; /* Mayor anchura en dispositivos pequeños para mejor visualización */
    }
}
