body {
  font-family: 'Calibri', sans-serif;
}

.report-list-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #8B5E3C;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.tutor-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

.report-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(202, 133, 67, 0.541);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.2s;
}

.report-card:hover {
  transform: translateY(-5px);
}

.report-info h4 {
  color: #8B5E3C;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.report-info h5 {
  color: #8B5E3C;
  font-size: 1em;
  margin: 5px 0;
}

.report-info p {
  font-family: Arial, sans-serif; /* Cambiar fuente para las materias */
  color: #6a452d;
  font-size: 0.9em;
  margin-top: 5px;
}

.avatar-placeholder {
  width: 50px;
  height: 50px;
  background-color: #fde0d6;
  border-radius: 50%;
  margin-bottom: 10px;
}

.stars {
  color: #8B5E3C;
}

.report-btn {
  background-color: #8B5E3C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9em;
  transition: background-color 0.3s;
}

.report-btn:hover {
  background-color: #6a452d;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .report-list-container {
    width: 100%;
    padding: 10px;
  }
  
  .tutor-list {
    grid-template-columns: 1fr;
  }
}
