.report-list-container {
    padding: 20px;
    background-color: #f9f5f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    max-width: 100%; /* Asegura que no se quede centrado con un ancho limitado */
  }
 
  .employee-card {
    background-color: #f0c490;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 90%; /* Aumentar el ancho para que abarque más pantalla */
    max-width: 1200px; /* Un límite de ancho mayor */
    text-align: center;
  }
 
  .tutor-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Ajustar el ancho al 90% del contenedor */
    max-width: 1200px; /* Límite de ancho para pantallas grandes */
  }
 
  .tutor-card {
    background-color: #f5e0c3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%; /* Aumentar el ancho de la tarjeta del tutor al 100% del contenedor */
  }
 
  .view-report-button {
    background-color: #c19a6b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
 
  .logout-button {
    background-color: #8C6239;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
 
