
  /* Barra lateral derecha */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Inicia fuera de la pantalla */
  width: 250px;
  height: 100%;
  background: #9c4922; /* O el color que prefieras */
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
}

/* Para cambiar la visibilidad de la sidebar */
.sidebar.open {
  right: 0; /* Mueve la sidebar hacia adentro */
}

.sidebar Button {
  background-color: #FF6B6B;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  
  top: 20px;
  right: 20px;
}

/* Botón para cerrar la sidebar */
.sidebar Button.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.sidebar-items {
  list-style-type: none; /* Remover estilos por defecto de lista */
  padding: 0;
  margin: 0;
}

.sidebar-items li {
  padding: 10px 0; /* Espaciado vertical para cada ítem */
  cursor: pointer;
}

/* Opcionalmente, puedes agregar interactividad con hover */
.sidebar-items li:hover {
  background-color: #E7B985;
}