:root {
  --color-texto: #fff;
  --color-barra-lateral: #91411c;
  --color-linea: #b4b8b9;
}

/* Sidebar completo */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: var(--color-barra-lateral);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

/* Sección superior (header) */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Botón de cerrar */
.close-sidebar {
  color: white;
  font-size: 23px;
  cursor: pointer;
  border: none;
  background: none;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Centrar el ícono superior */
.sidebar-top-icon-wrapper {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;
  margin-bottom: 20px; /* Espacio debajo del ícono */
}

.sidebar-top-icon {
  width: 100px; /* Ajusta el tamaño del ícono */
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--color-linea);
  margin-left: 8vh;
}

/* Lista de items */
.sidebar-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-items li {
  padding: 10px 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-texto);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Iconos para cada link */
.sidebar-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.close-sidebar {
  margin-left: 0;
  margin: 0;
  padding: 0;
}