/* src/Vista.css */
.vista-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 0vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.session-text {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #ba996f;
}

.cancel-button {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #ba996f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #ff1a1a;
}

.content {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se acomoden automáticamente */
}

.card {
  width: 100%; /* Ajusta el ancho para pantallas pequeñas */
  height: 45vh;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #C04000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #ECDCD0;
}

.profile-pic {
  width: 100%;
  max-width: 200px; /* Tamaño máximo para pantallas pequeñas */
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card-buttons button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-buttons button:hover {
  background-color: #ddd;
}

.info {
  width: 100%; /* Ajusta el ancho para pantallas pequeñas */
  padding: 2px;
  margin-top: 20px;
}

.TitulosInfo h2 {
  font-size: 10px; /* Ajusta el tamaño del texto en pantallas pequeñas */
  margin-bottom: 1vh;
  color: #A27354;
}

.Info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
}

.Notas, .DocsEstudiante {
  margin-right: 20px;
}

.temas-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  margin-top: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #C19574;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  min-width: 300px;
}

.temas-card h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.temas-card ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.temas-card li {
  padding: 10px 0;
  font-size: 1.2rem;
}

.temas-card button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
}

.stars {
  display: flex;
  justify-content: center;
  color: #A0522D;
}

.temas-card button {
  margin-top: auto; /* Empuja el botón hacia el final del contenedor */
  align-self: center; /* Centra el botón horizontalmente */
  padding: 10px 20px;
  font-size: 1rem;
}

/* Media Queries para hacer el diseño responsive */


@media (min-width: 768px) {
  /* src/Vista.css */
.vista-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 7vh;
  width: auto;
}
  .content {
    flex-direction: row;
  }

  .card {
    width: 33%; /* Ajusta el ancho para pantallas medianas y grandes */
    height: auto;
    margin-right: 10vh;
  }

  .info {
    width: 50%; /* Ajusta el ancho para pantallas medianas y grandes */
  }
  .Info2 {
    margin-left: 0vh;
    height: auto;
  }
  .TitulosInfo {
    margin-bottom: 3vh;
    width: auto;
  }

  .TitulosInfo h2 {
    font-size: 30px;
    margin-bottom: 2vh;
    margin-left: 3vh;
  }

  .temas-card {
    width: 200px;
    height: 300px;
    margin-left: 0vh;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .session-text {
    font-size: 30px;
  }

  .cancel-button {
    font-size: 16px;
  }

  .profile-pic {
    max-width: 150px;
  }

  .temas-card {
    width: auto;
    padding: 20px;
  }
  .TitulosInfo {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #C19574;
    width: 34vh;
    padding: 20px;
    margin-left: 4vh;
    text-align: center;
  }
  .TitulosInfo h2 {
    color: white;
    font-size: large;
  }
}
